<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload = "true"
      internalLogLevel="Info"
      internalLogFile="c:\internal-nlog.txt">

  <extensions>
    <add assemly="Nlog.Web.AspNetCore"/>
  </extensions>
  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target name="exceptions" xsi:type="File" fileName="c:\nlog-exceptions-${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    <target name="allfile" xsi:type="File" fileName="c:\nlog-all-${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    <target name="TimeRequest" xsi:type="File" fileName="c:\nlog-TimeRequest-${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />

  </targets>

  <!-- define rules to map from logger name to target -->
  <rules>
    <!-- All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <logger name="RestaurantAPI.*" minlevel="Error" writeTo="exceptions" />
    <logger name="RestaurantAPI.Middleware.RequestTimeMiddleware" minlevel="Trace" writeTo="TimeRequest" />
  </rules>
</nlog>